* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}
@import "sass/_corlos.scss";
@import "sass/_tipografy.scss";

body {
  width: 100%;
  background-color: $black-dark;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-thumb {
  background: $outher-dark;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: $outher-light;
}
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 0px;
  box-shadow: inset 0px 0px 0px 0px transparent;
}

.border {
  border: 1px solid red;
}

@import "sass/_spancing.scss";
@import "sass/_layout.scss";
@import "sass/_responsive.scss";
