$black-normal: #141516;
$black-dark: #050607;
$black-light: #242526;

$white-normal: #eef0f0;
$white-dark: #e6e8e8;
$white-light: #f5f7f7;

$grey-normal: #4e4e50;
$grey-dark: #3e3f40;
$grey-light: #5d5e60;

$outher-normal: #5526db;
$outher-dark: #1c0068;
$outher-light: #825bee;
$outher-light-opacity: hsla(256, 81%, 65%, 0.6);

$linear-light: linear-gradient(180deg, #490eef 0%, #936dfc 100%);
$linear-dark: linear-gradient(225deg, rgba(106, 58, 241, 0) 0%, #5526db 100%);
