$black-normal: #141516;
$black-dark: #050607;
$black-light: #242526;
$black-dark-opacity: rgba(172, 22, 60, 0.034);

$white-normal: #eef0f0;
$white-dark: #d6d6d6;
$white-light: #f5f7f7;

$grey-normal: #4e4e50;
$grey-dark: #3e3f40;
$grey-light: #5d5e60;

$outher-normal: #dd1144;
$outher-dark: #ac163b;
$outher-light: #e73d68;
$outher-light-opacity: #e73d6880;
$outher-light-opacity-2: #ac163c21;

$linear-light: linear-gradient(180deg, #ac163b 0%, #e73d68 100%);
$linear-dark: linear-gradient(225deg, #ac163b 0%, #dd1144 100%);

.grey-dark {
  color: $grey-dark;
}
.grey-normal {
  color: $grey-normal;
}
.grey-light {
  color: $grey-light;
}

.white {
  color: #fff;
}
.green {
  color: rgb(38, 139, 38);
}
.orange {
  color: rgb(202, 48, 21);
}
.yellow {
  color: rgba(235, 202, 14, 0.918);
}
.blue {
  color: rgb(35, 135, 228);
}
.pink {
  color: rgb(218, 105, 180);
}
