// _tipografy
@media screen and (max-width: 1024px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 3.5rem;
  }
  h3 {
    font-size: 2.5rem;
  }
  h4 {
    font-size: 2rem;
  }
  h5 {
    font-size: 1.5rem;
  }
  h6 {
    font-size: 1.125rem;
  }
}
@media screen and (max-width: 760px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.75rem;
  }
  h6 {
    font-size: 0.625rem;
  }
}
// END _tipografy
// _layout
@media screen and (max-width: 1024px) {
  .container-item:nth-child(2) {
    img {
      max-width: 21.5rem;
    }
  }
  .svg-hero {
    transform: scale(2);
  }
  .bg-works {
    transform: scale(1.5);
  }
}

@media screen and (max-width: 760px) {
  .menu-left,
  .menu-right {
    display: none;
  }
  .menu {
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    .menu-logo {
      width: 50px;
      height: 50px;
    }
  }
  .menu-mobile {
    display: block;
  }

  h2.title-h2::before {
    width: 1.5rem;
    height: 1.5rem;
  }

  .hero {
    height: 100vh;
  }
  .svg-hero {
    transform: scale(3);
  }
  .container {
    flex-direction: column;
  }
  .container-item:nth-child(1) {
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .container-item:nth-child(2) {
    display: none;
    img {
      max-width: 14.5rem;
    }
  }
  .list-item .img-project {
    max-width: 200px;
    height: 150px;
  }
  .about .box-about {
    flex-direction: column;
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .about .box-about .box-item:nth-child(1) {
    height: 100%;
    margin: 1rem 0rem;
    max-width: 100%;
    width: 100%;
  }

  .about .box-about .box-item:nth-child(2) {
    flex-grow: 1;
    height: 90%;
    overflow: hidden;
    margin: 1rem 0rem;
    max-width: 100%;
    img {
      object-fit: contain;
      max-width: 100%;
      max-height: 300px;
    }
  }
  .about .box-about .skills-list {
    width: 100%;

    li {
      margin: 0 0.5rem;
      width: 50%;
      font-size: 1rem;
    }
  }
}
// END _layout
