h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-family: "Barlow Condensed", sans-serif;
  color: $white-normal;
  font-weight: 400;
}

.link {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0%;
    height: 4px;
    background: $white-normal;
    transform: translateX(-50%);
    opacity: 0;
    transition: 0.5s ease-out;
  }
  &:hover {
    opacity: 0.8;

    &::after {
      width: 80%;
      opacity: 1;
    }
  }
}

h1 {
  font-size: 6rem;
  line-height: 100%;
}
h2 {
  font-size: 4.5rem;
  line-height: 110%;
}
h3 {
  font-size: 3rem;
  line-height: 115%;
}
h4 {
  font-size: 2.5rem;
  line-height: 120%;
}
h5 {
  font-size: 2rem;
  line-height: 130%;
}
h6 {
  font-size: 1.5rem;
  line-height: 140%;
}
a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.mask {
  background: $outher-light;
  background: linear-gradient(180deg, $outher-normal 0%, $outher-light 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.square {
  display: flex;
  font-size: 1.5rem;
  padding: 1rem 1.5rem;
  margin-top: 3rem;
  position: relative;
  transition: 0.4s ease-out;
  align-items: center;
  justify-content: center;
  align-self: center;
  max-width: 130px;

  &::after {
    content: "";
    display: block;
    width: 130%;
    height: 165px;
    background-image: url("/img/svg/polygon.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    position: absolute;
    z-index: 1;
  }
  &:hover {
    transform: scale(1.09) rotate(360deg);
  }
}

h2.title-h2::before {
  content: "";
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-image: url("/img/svg/title-before.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: contain;

  margin-right: 0.5rem;
}
